.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Wrapper{
  background-color: black;
  padding: 10px;
  border-radius: 10%;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.Input-Wrapper{
  display: flex;
  justify-items: space-between;
  width: 240px;
  align-self: center;
}
.Input-Wrapper input{
  border-radius:4%;
  border:0;
  background-color: aliceblue;
  width: 150px;
  padding: 6px;
  height: 20px;
  margin: 10px;
}

.Input-Wrapper button{
  width: 50px;
  height: 35px;
  border-radius: 50%;
  padding: 40;
  outline-offset: none;
  align-items: center;
  margin-top: 9px;
 

}

